.searchPanel,.btnPanel{
    padding:20px;
}

.searchPanel .condition{
    float:left;
    margin-left:10px;
}
.condition input,select{
    width:150px;
    height:30px;
}

.btnPanel{
    text-align: center;
    margin-left:10px;
}

table.addTable{
    width:100%;
}
table.addTable .title{
    font:11px solid;
    width:100px;
}
table.addTable .buttons{
   text-align: center;
}
table.addTable input,select{
    width:150px;
    height:30px;
}