/*
body{
    font:12px sold;
}

.hidden{
    display:none;
}

.login{
    margin-left: auto;
    margin-right: auto;
    width:200px;
    height:50%;
    padding:5px;
}
.login .inputDiv{
    float:left;
    width:100%;
    padding: 3px;
}

.login .btnDiv{
    text-align: center;

}
.login .errorMsg{
    text-align: center;
    color:red;
}


.login .inputDiv input{
    WIDTH:100%;
    HEIGHT:25px;
}
*/
.v-a{position: absolute; top: 20px;  right: 20px;}
.v-h3{ text-align: center;font-size: 24px; margin: 20px auto 30px; color: #333;}
.v-a img{ display: inline-block; vertical-align: middle; margin-right: 5px;}