<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huifa.paper.parent.cnki.dao.common.ISysTopicTypeDao">
    <resultMap id="BaseResultMap" type="com.huifa.paper.parent.cnki.vo.common.SysTopicTypeVo">
        <id column="id" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="typeName" property="typeName" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>

    <sql id="Base_Column_List">
       t1.id,t1.typeName
    </sql>

    <select id="getById" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from systemTopicType where t1.deleteStatus != 0 and t1.id=#{id}
    </select>

    <select id="getSysTopicTypeByMap" parameterType="Map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from systemTopicType t1 where t1.deleteStatus != 0
        <if test="id!=null">
            and t1.id=#{id}
        </if>
        <if test="typeName!=null">
            and t1.typeName =#{typeName}
        </if>
    </select>

    <select id="getSysTopicTypeCountByMap" parameterType="Map" resultType="INTEGER">
        SELECT count(1) totalNum  from systemTopicType t1 where t1.deleteStatus != 0
        <if test="id!=null">
            and t1.id=#{id}
        </if>
        <if test="typeName!=null">
            and t1.typeName =#{typeName}
        </if>
    </select>

    <insert id="createSysTopicType" parameterType="com.huifa.paper.parent.cnki.entity.common.SysTopicType" useGeneratedKeys="true" keyProperty="id">
        insert into systemTopicType(typeName)
        values (#{typeName})
    </insert>

    <update id="updateSysTopicType" parameterType="Map">
        update systemTopicType
        <set>
            <if test="typeName!=null">
                typeName =#{typeName},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="logicDelSysTopicById" parameterType="Long">
        update systemTopicType set deleteStatus = 0 where id=#{id}
    </update>

    <delete id="deleteSysTopicById" parameterType="Long">
        delete from systemTopicType where id = #{id}
    </delete>
</mapper>