<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huifa.paper.parent.cnki.dao.tb.ITaoBaoSellerDao">
    <resultMap id="BaseResultMap" type="com.huifa.paper.parent.cnki.vo.tb.TaoBaoSellerVo">
        <id column="id" property="id" jdbcType="BIGINT" javaType="long"/>
        <result column="adminId" property="adminId" jdbcType="BIGINT" javaType="long"/>
        <result column="sellerId" property="sellerId" jdbcType="BIGINT" javaType="long"/>
        <result column="sellerNick" property="sellerNick" jdbcType="VARCHAR" javaType="String"/>
        <result column="duration" property="duration" jdbcType="BIGINT" javaType="long"/>
        <result column="shopUrl" property="shopUrl" jdbcType="VARCHAR" javaType="String"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="domain" property="domain" jdbcType="VARCHAR" javaType="String"/>
        <result column="realName" property="realName" jdbcType="VARCHAR" javaType="String"/>
        <result column="tel" property="tel" jdbcType="VARCHAR" javaType="String"/>
        <result column="qq" property="qq" jdbcType="VARCHAR" javaType="String"/>
        <result column="email" property="email" jdbcType="VARCHAR" javaType="String"/>
        <result column="buyLink" property="buyLink" jdbcType="VARCHAR" javaType="String"/>
        <result column="balance" property="balance" jdbcType="INTEGER" javaType="Integer"/>
        <result column="rechargeMoney" property="rechargeMoney" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        <result column="state" property="state" jdbcType="INTEGER" javaType="Integer"/>
        <result column="deleteStatus" property="deleteStatus" jdbcType="INTEGER" javaType="Integer"/>
        <result column="notes" property="notes" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>

    <sql id="Base_Column_List">
        t1.id,t1.adminId,t1.sellerId,t1.sellerNick,t1.duration,t1.shopUrl,t1.createTime,t1.updateTime,t1.domain,t1.realName,
        t1.tel,t1.qq,t1.email,t1.buyLink,t1.balance,t1.rechargeMoney,t1.state,t1.deleteStatus,t1.notes
    </sql>

    <select id="getById" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from taoBaoSeller t1 where t1.deleteStatus != 0 and t1.id=#{id}
    </select>

    <select id="getByAdminId" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from taoBaoSeller t1 where t1.deleteStatus != 0 and t1.adminId=#{adminId}
    </select>

    <select id="getByDomain" parameterType="String" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from taoBaoSeller t1 where t1.deleteStatus != 0 and t1.domain=#{domain}
    </select>

    <select id="getTaoBaoSellerByMap" parameterType="Map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from taoBaoSeller t1
        <where>
            <if test="id!=null">
                and t1.id=#{id}
            </if>
            <if test="adminId!=null">
                and t1.adminId=#{adminId}
            </if>
            <if test="sellerNick!=null">
                and t1.sellerNick=#{sellerNick}
            </if>
            <if test="deleteStatus!=null">
                t1.deleteStatus=#{deleteStatus}
            </if>
            <if test="startTime!=null">
                <![CDATA[AND updateTime>=#{startTime}]]>
            </if>
            <if test="endTime!=null">
                <![CDATA[AND updateTime<=#{endTime}]]>
            </if>
        </where>
        order by t1.updateTime desc
    </select>

    <select id="getTaoBaoSellerCountByMap" parameterType="Map" resultType="INTEGER">
        SELECT count(1) totalNum from taoBaoSeller t1
        <where>
            <if test="id!=null">
                and t1.id=#{id}
            </if>
            <if test="adminId!=null">
                and t1.adminId=#{adminId}
            </if>
            <if test="sellerNick!=null">
                and t1.sellerNick=#{sellerNick}
            </if>
            <if test="deleteStatus!=null">
                t1.deleteStatus=#{deleteStatus}
            </if>
            <if test="startTime!=null">
                <![CDATA[AND updateTime>=#{startTime}]]>
            </if>
            <if test="endTime!=null">
                <![CDATA[AND updateTime<=#{endTime}]]>
            </if>
        </where>
    </select>

    <!-- 创建新用户 -->
    <insert id="createTaoBaoSeller" parameterType="com.huifa.paper.parent.cnki.entity.tb.TaoBaoSeller" useGeneratedKeys="true" keyProperty="id">
        insert into taoBaoSeller(adminId,sellerId,sellerNick,duration,shopUrl,createTime,updateTime,`domain`,realName,
        tel,qq,email,buyLink,balance,rechargeMoney,state,notes)
        values (#{adminId},#{sellerId},#{sellerNick},#{duration},#{shopUrl},#{createTime},#{updateTime},#{domain},#{realName},
        #{tel},#{qq},#{email},#{buyLink},#{balance},#{rechargeMoney},#{state},#{notes})
    </insert>

    <update id="updateTaoBaoSeller" parameterType="Map">
        update taoBaoSeller
        <set>
            <if test="sellerId!=null">
                sellerId=#{sellerId},
            </if>
            <if test="sellerNick!=null">
                sellerNick=#{sellerNick},
            </if>
            <if test="duration!=null">
                duration=#{duration},
            </if>
            <if test="shopUrl!=null">
                shopUrl=#{shopUrl},
            </if>
            <if test="createTime!=null">
                createTime=#{createTime},
            </if>
            <if test="updateTime!=null">
                updateTime=#{updateTime},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="domain!=null">
                `domain`=#{domain},
            </if>
            <if test="realName!=null">
                realName=#{realName},
            </if>
            <if test="tel!=null">
                tel=#{tel},
            </if>
            <if test="qq!=null">
                qq=#{qq},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="buyLink!=null">
                buyLink=#{buyLink},
            </if>
            <if test="balance!=null">
                balance=#{balance},
            </if>
            <if test="rechargeMoney!=null">
                rechargeMoney=#{rechargeMoney},
            </if>
            <if test="state!=null">
                state=#{state},
            </if>
            <if test="notes!=null">
                notes=#{notes},
            </if>
            <if test="deleteStatus!=null">
                deleteStatus=#{deleteStatus},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="logicDelTaoBaoSellerById" parameterType="Long">
        update taoBaoSeller set deleteStatus = 0 where id=#{id}
    </update>

    <delete id="deleteDelTaoBaoSellerById" parameterType="Long">
        delete from taoBaoSeller where id = #{id}
    </delete>
</mapper>