<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huifa.paper.parent.cnki.dao.tb.ITaoBaoOrderDao">
    <resultMap id="BaseResultMap" type="com.huifa.paper.parent.cnki.vo.tb.TaoBaoOrderVo">
        <id column="id" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="adminId" property="adminId" jdbcType="BIGINT" javaType="Long"/>
        <result column="userId" property="userId" jdbcType="BIGINT" javaType="Long"/>
        <result column="orderId" property="orderId" jdbcType="BIGINT" javaType="Long"/>
        <result column="sellerNick" property="sellerNick" jdbcType="VARCHAR" javaType="String"/>
        <result column="buyerNick" property="buyerNick" jdbcType="VARCHAR" javaType="String"/>
        <result column="status" property="status" jdbcType="VARCHAR" javaType="String"/>
        <result column="payment" property="payment" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        <result column="number" property="number" jdbcType="INTEGER" javaType="Integer"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"></result>
    </resultMap>

    <sql id="Base_Column_List">
       t1.id,t1.adminId,t1.userId,t1.orderId,t1.sellerNick,t1.buyerNick,t1.status,t1.payment,t1.number,t1.createTime
    </sql>

    <select id="getById" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        from taoBaoOrder t1 where t1.deleteStatus != 0 and t1.id=#{id}
    </select>

    <select id="getByAdminId" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        from taoBaoOrder t1 where t1.deleteStatus != 0 and t1.adminId=#{adminId}
    </select>

    <select id="getByUserId" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        from taoBaoOrder t1 where t1.deleteStatus != 0 and t1.userId=#{userId}
    </select>

    <select id="getByTid" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        from taoBaoOrder t1 where t1.deleteStatus != 0 and t1.orderId=#{orderId}
    </select>

    <select id="getTaoBaoOrderByMap" parameterType="Map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from taoBaoOrder t1 where t1.deleteStatus != 0
        <if test="id!=null">
            and t1.id=#{id}
        </if>
        <if test="adminId!=null">
            and t1.adminId=#{adminId}
        </if>
        <if test="userId!=null">
            and t1.userId=#{userId}
        </if>
        <if test="orderId!=null">
            and t1.orderId=#{orderId}
        </if>
        <if test="sellerNick!=null">
            and t1.sellerNick =#{sellerNick}
        </if>
        <if test="status!=null">
            and t1.status =#{status}
        </if>
        ORDER BY createTime DESC
    </select>

    <select id="getTaoBaoOrderCountByMap" parameterType="Map" resultType="INTEGER">
        SELECT count(1) totalNum  from taoBaoOrder t1 where t1.deleteStatus != 0
        <if test="id!=null">
            and t1.id=#{id}
        </if>
        <if test="adminId!=null">
            and t1.adminId=#{adminId}
        </if>
        <if test="userId!=null">
            and t1.userId=#{userId}
        </if>
        <if test="orderId!=null">
            and t1.orderId=#{orderId}
        </if>
        <if test="sellerNick!=null">
            and t1.sellerNick =#{sellerNick}
        </if>
        <if test="status!=null">
            and t1.status =#{status}
        </if>
    </select>

    <insert id="createTaoBaoOrder" parameterType="com.huifa.paper.parent.cnki.entity.tb.TaoBaoOrder" useGeneratedKeys="true" keyProperty="id">
        insert into taoBaoOrder(adminId,userId,orderId,sellerNick,buyerNick,status,payment,`number`,createTime)
        values (#{adminId},#{userId},#{orderId},#{sellerNick},#{buyerNick},#{status},#{number},#{num},#{createTime})
    </insert>

    <update id="updateTaoBaoOrder" parameterType="Map">
        update taoBaoOrder
        <set>
            <if test="adminId!=null">
                adminId =#{adminId},
            </if>
            <if test="userId!=null">
                userId =#{userId},
            </if>
            <if test="orderId!=null">
                orderId =#{orderId},
            </if>
            <if test="sellerNick!=null">
                sellerNick =#{sellerNick},
            </if>
            <if test="buyerNick!=null">
                buyerNick =#{buyerNick},
            </if>
            <if test="status!=null">
                status =#{status},
            </if>
            <if test="payment!=null">
                payment =#{payment},
            </if>
            <if test="number!=null">
                `number` =#{number},
            </if>
            <if test="tid!=null">
                tid =#{tid},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="logicDelTaoBaoOrderById" parameterType="Long">
        update taoBaoOrder set deleteStatus = 0 where id=#{id}
    </update>

    <delete id="deleteTaoBaoOrderById" parameterType="Long">
        delete from taoBaoOrder where id = #{id}
    </delete>
</mapper>