@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; }
body { font-size: 12px;  font-family: Microsoft Yahei,Arial; background-color: #FFF;}
img { border: none;  }
ul, li { list-style: none; }
a { text-decoration: none;  cursor: pointer; }
input, select, button, textarea { font-size: 12px;  color: #666; outline:none;}
h1, h2, h3, h4, h5, h6{ font-weight: normal; }
i, em { font-style: normal; }
.w1200{ width:1200px; margin:0 auto;}
.clear{ clear:both}

/*****************知网检测地址********************/
.head-zwjc{  height: 116px; width: 100%; background: url("../images/pmlc12_banner_b.gif") repeat; position: relative;}
.head-zwjc img{ max-width: 100%; width: auto; height: auto; border: 0;}
.head-zwjc-img{ display: block; min-width: 1024px;width: 100% !important;}
.head-zwjc-img02{ float: right; }
.head-zwjc-s{ float: left; width: 940px; min-height: 1px; position: absolute; left: 0; bottom: 1px;}
.head-zwjc-ul li{ float: left;}
.head-zwjc-nav{ width: 100%; height: 32px; background: url("../images/img03.gif") no-repeat 0 0;}
.head-zwjc-ul{ margin-left: 30px; height: 32px;}
.head-zwjc-ul a{float: none; height: 21px;  padding: 5px 20px 3px 20px;  color: #FFFFFF;  text-decoration: none;  text-shadow: none;  font-size: 12px;   display: block; font-weight: bold; line-height: 20px;}
.head-zwjc-ul .head-zwjc-li a{ background: url("../images/img04.gif") no-repeat center center;}
.head-zwjc-ul a:hover{background: url("../images/img04.gif") no-repeat center center;}

.bd-zwjc{ overflow: hidden; width: 100%;background: #FFF;}
.zwjc-left{ float: left;width: 14.893617021276595%; background: #fcfbfa;}
.zwjc-right{width: 84.97872340425532%; box-sizing: border-box; float: left; min-height: 30px; border-left: 2px solid green;}
.left-h{padding-left: 10px;  border-bottom: 1px dashed #cdcdcd;  line-height: 38px;text-rendering: optimizelegibility;margin:20px 0 10px;font-family: inherit;font-size: 17.5px;font-weight: bold;}
.def-fw{padding-left: 2px; padding-right: 8px;margin: 0 0 10px 25px; font-size: 12px;line-height: 20px;; color: #333;}
.def-fw li{list-style-type:disc;}

.zwijc-top{ position: relative;padding: 8px 35px 8px 14px; background-color: #fcf8e3;border: 1px solid #fbeed5; border-radius: 0 0 4px 4px;}
.close{ position: absolute; right: 10px; top: 10px; font-size:16px; font-weight: bold; display: block; width: 20px; height: 20px; text-align: center; color: #c09853; background:none; border: none; line-height:4px; cursor: pointer;}
.close:hover{ color: #aa8037;}
.zwijc-top-s{ float: left; width: 52px; font-weight: bold; color: #c09853; line-height: 20px;}
.zwijc-top-d{ margin-left: 60px;}
.zwijc-top-d p{ color: #c09853; line-height: 20px;}

.zwjc-main{ margin-top: 20px; position: relative;}
.zwjc-main-nav{overflow: hidden; border-bottom: 2px solid #109E0A; height: 40px; margin-bottom: 35px; box-sizing: border-box; padding-left: 40px;}
.zwjc-main-nav li{ float: left; margin-left: 2px;}
.zwjc-main-nav li a{ display: block; padding: 9px 12px; line-height: 20px; font-size: 12px; color: #3B741C; font-weight: bold;border-radius: 4px 4px 0 0}
.zwjc-main-nav .zwjc-main-nav-li a{ background: -webkit-linear-gradient(bottom,#50DF55 0%,#188B08 55px);  background: -moz-linear-gradient(bottom,#50DF55 0%,#188B08 55px);  background: linear-gradient(bottom,#50DF55 0%,#188B08 55px);  border: 1px solid #109E0A;  color: white !important; border-radius: 4px 4px 0 0;}
.zwjc-main-nav li a:hover{ background: #eee;}
.zwjc-main-nav .zwjc-main-nav-li a:hover{background: -webkit-linear-gradient(bottom,#50DF55 0%,#188B08 55px);  background: -moz-linear-gradient(bottom,#50DF55 0%,#188B08 55px);  background: linear-gradient(bottom,#50DF55 0%,#188B08 55px);  border: 1px solid #109E0A;  color: white !important; border-radius: 4px 4px 0 0}
.zwjc-main-nr-ul li{ margin-bottom: 30px; overflow: hidden; width: 100%;}
.zwjc-nub{ display: block; width: 120px; margin-top: 5px; line-height: 20px; text-align: right; float: left;}
.zwjc-main-nr-d{ margin-left: 140px; overflow: hidden;}
.zwjc-la{ width: 270px; display: block; float: left; height: 30px;}
.zwjc-im{  font-weight: bold; line-height: 20px; font-size: 14px; color: #d9534f; display: inline-block; vertical-align: middle; margin-left: 10px;margin-top: 5px;}
.zwjc-nub i{display: inline-block; color: #333; margin-right: 3px;vertical-align: middle;}
.zwjc-la input{ display: block; width: 100%; height: 30px;padding: 0 10px; box-sizing: border-box; border: 1px solid #ddd; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); color: #428bca;}
.zwjc-la input:focus{ -webkit-box-shadow:inset 0 0px 4px rgba(66,139,202,0.3);-moz-box-shadow:inset 0 0px 4px rgba(66,139,202,0.3); box-shadow:inset 0 0px 4px rgba(66,139,202,0.3);}
.zwjc-wxts{ line-height: 20px; margin: 5px 0; color: #3a87ad;}
.zwjc-wxts em{ color: #FFF; display: inline-block; vertical-align: middle; border-radius: 4px; margin-right: 5px; background: #428bca; padding: 0 5px;}
.no-choose{ line-height: 20px; font-size: 14px; font-weight: bold; color: red; margin: 5px 0;display: block;}
.zwjc-choose{line-height: 20px; font-size: 12px; margin: 5px 0;display: block; color: #999;}
.zwjc-box{ overflow: hidden; float: left;}
.zwjc-box-bt{ height: 30px; min-width: 140px; display: block; float: left; margin-right: 20px; position: relative; border-radius: 3px; overflow: hidden; text-align: center; line-height: 30px; padding: 0 5px;}
.zwjc-box-bt i{ display: inline-block;vertical-align: middle;}
.zwjc-box-bt em{ display: inline-block; vertical-align: middle; margin-right: 5px;}
.zwjc-box-bt01 input{display:block; width: 100%; height: 30px; overflow: hidden; border: none; background: none; position: absolute; left: 0; top: 0; opacity: 0;}
.zwjc-box-bt span{ display: inline-block; vertical-align: middle; cursor: pointer; font-weight: bold; font-size: 14px; margin-left: 3px;}
.zwjc-box-bt01{color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top,#0088cc,#0044cc);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#0088cc),to(#0044cc));
    background-image: -webkit-linear-gradient(top,#0088cc,#0044cc);
    background-image: -o-linear-gradient(top,#0088cc,#0044cc);
    background-image: linear-gradient(to bottom,#0088cc,#0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1);
    text-align: center; line-height: 30px;
}
.zwjc-box-bt01:hover{ background-color: #0044cc;background-position: 0 -15px;}
.zwjc-box-bt01 span{ color: #FFF; }
.zwjc-box-bt02{ line-height: normal;color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top,#62c462,#51a351);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
    background-image: -o-linear-gradient(top,#62c462,#51a351);
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);}
.zwjc-box-bt02:hover{
    background-color: #51a351;background-position: 0 -15px;
}
.zwjc-box-bt03{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -moz-linear-gradient(top,#fbb450,#f89406);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
    background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
    background-image: -o-linear-gradient(top,#fbb450,#f89406);
    background-image: linear-gradient(to bottom,#fbb450,#f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450',endColorstr='#fff89406',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.zwjc-box-bt03:hover{
    background-color: #f89406;background-position: 0 -15px;
}
.zwjc-box-bt04{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
    background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.zwjc-box-bt04:hover{
    background-color: #bd362f;background-position: 0 -15px;
}

.notice-title{ margin: 10px 0;padding-left: 20px;  font-size: 14px;  line-height: 40px;  border-bottom: 1px dashed #cdcdcd; font-weight: bold;}
.notice-title i{ font-weight: normal; display: inline-block; vertical-align: middle; font-size:21px; line-height: 20px; margin-top: 8px; float: left; color: #333;}
.zwjc-btm{ margin: 30px 0;}
.zwjc-btm-ul{ margin: 20px 0;}
.zwjc-btm-ul li{ overflow: hidden; width: 100%;}
.zwjc-btm-left{ float: left; width: 140px; text-align: right; padding-top: 8px;}
.zwjc-btm-right{ margin-left: 150px; line-height: 35px; font-size: 12px; color: #333;}
.zwjc-btm-right p{}
.zwjc-btm-ul span{ display: inline-block; vertical-align: middle; height: 18px; border-radius: 3px;padding: 0 5px;line-height: 20px; font-weight: bold;}
.ys01{ background: #428bca; color: #FFF; }
.ys02{ background: #d9534f; color: #FFF; }
.ys03{ background: green; color: #FFF; }


.foot-zwjc{ width: 100%; overflow: hidden; background:#127803  url("../images/img05.gif") repeat-x;line-height: 20px;}
.foot-zwjc-bd{ width: 980px; margin: 0 auto; padding: 10px 0; color: #fff;}
.foot-zwjc-p{ color: #F3F2F2; text-align: left; margin-top: 10px; }
.foot-zwjc-btm{ width: 100%;border-top: 2px solid #c8ff88 !important;  background-color: #232324 !important;  padding: 5px 0px;  color: #bab6a0;  font-size: 12px; text-align: center;}
.foot-zwjc-btm-img{display: inline-block; vertical-align: middle;}
.foot-zwjc-btm p{ margin: 5px;}
.foot-zwjc-list{color: #c8ff88;  text-align: left;  margin-top: 10px;}
.foot-zwjc-list a{ color: #c8ff88; font-weight: bold;}
.foot-zwjc-list a:hover{ text-decoration: underline;}
.zwjc-main-nr-p1{ color: #b94a48; line-height: 20px;}
.zwjc-main-nr-p1 strong{color: #333;}
.zwjc-main-nr-p2{ color: #999;line-height: 20px;}
.information{ border: 1px solid #ccc; border-radius: 6px; background: #FFF; width: 180px; min-height: 130px; position: absolute; left: 550px; top: 75px; z-index: 998;}
.information h3{ text-align: left;padding: 8px 14px;background-color: #f7f7f7; font-size: 14px;border-radius: 5px 5px 0 0;}
.information h3 i{ margin-right: 5px;display: inline-block; vertical-align: middle;}
.information ul{padding: 9px 14px;}
.information ul li{ height: 20px; line-height: 20px; margin: 4px 0;}
.information ul li i{ display: inline-block; vertical-align: middle; padding: 0px 4px; height: 18px;  border-radius: 3px; line-height: 18px;}
.color01{ background: #428bca; color: #FFF; }
.color02{ background: #999; color: #FFF; }
.color03{ background: #5cb85c; color: #FFF; }
.sjx{position: absolute; width: 20px; height: 25px; background: url("../images/xtb.png") no-repeat;}
.sjx-left{ background-position: -57px -327px; top: 50%; margin-top: -10px; left: -13px;}

/************知网检测地址-查询结果************/
.cxjg-top{ overflow: hidden; margin-bottom: 5px;}
.cxjg-list{ margin-bottom: 5px;overflow: hidden; }
.cxjg-top-nr-s{ float: left; font-size: 16px; line-height: 30px; color: #333; font-weight: bold; margin: 5px;}
.cxjg-top-d{ margin-left: 70px;}
.cxjg-top-ipt01{ width: 280px; border: 1px solid #ddd; border-radius: 5px; float: left; display: block; height: 40px; box-sizing: border-box; padding: 0 10px; font-size: 14px;webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);}
.cxjg-top-ipt02{ margin-left: 300px;display: block; width: 137px; height: 40px; border-radius: 3px; font-size: 16px; cursor: pointer;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
    background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.cxjg-top-ipt02:hover{ background-color:#bd362f; background-position:0 -20px; }
.cxjg-top-nr{ margin: 30px 20px;}
.cxjg-list .notice-title{ margin-bottom: 0;}
.table-cxjg{margin-left: 0; border-bottom: 1px solid #ddd;}
.table-cxjg thead td{;border-right: 1px dashed #ddd;}

.cjwt-d{ margin: 25px auto; width: 980px;}
.cjwt-d-ul{ width: 100%; overflow: hidden;}
.cjwt-d-ul li{ margin-bottom: 30px;}
.cjwt-d-ul li h3{font-size: 17.5px;margin: 10px 0;font-family: inherit;  font-weight: bold;  line-height: 20px;text-rendering: optimizelegibility; color: #333;}
.cjwt-d-ul li p{margin: 0 0 10px;  font-size: 12px; color: #333; line-height: 20px;}