<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huifa.paper.parent.cnki.dao.admin.ISysModuleDao">
    <resultMap id="BaseResultMap" type="com.huifa.paper.parent.cnki.vo.admin.SysModuleVo">
        <id column="id" property="id" jdbcType="BIGINT" javaType="long"/>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="String"/>
        <result column="url" property="menuUrl" jdbcType="VARCHAR" javaType="String"/>
        <result column="parentId" property="parentId" jdbcType="BIGINT" javaType="long"/>
        <result column="status" property="status" jdbcType="INTEGER" javaType="Integer"/>
        <result column="type" property="type" jdbcType="INTEGER" javaType="Integer"/>
    </resultMap>

    <sql id="Base_Column_List">
        t1.id,t1.name,t1.type,t1.parentId,t1.url
    </sql>

    <select id="getById" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from systemModule t1 where t1.deleteStatus != 0 and t1.id=#{id}
    </select>

    <select id="getSysModuleByRoleAndParent" parameterType="Map" resultMap="BaseResultMap">
        select a.id,a.name,a.type,a.url,a.parentId,b.status
        from systemModule a
        left join systemRoleModule b on a.id=b.moduleId and b.roleId=#{roleId}
        where a.deleteStatus != 0 and a.parentId=#{parentId}
    </select>

    <select id="getSysModuleByMap" parameterType="Map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from systemModule t1 where t1.deleteStatus != 0 AND (t1.type=1 OR t1.type=2)
        <if test="id!=null">
            and t1.id=#{id}
        </if>
        <if test="name!=null">
            and t1.name=#{name}
        </if>
        <if test="parentId!=null">
            and t1.parentId=#{parentId}
        </if>
    </select>

    <select id="getSysModuleCountByMap" parameterType="Map" resultType="INTEGER">
        SELECT count(1) totalNum  from systemModule t1 where t1.deleteStatus != 0 AND (t1.type=1 OR t1.type=2)
        <if test="id!=null">
            and t1.id=#{id}
        </if>
        <if test="name!=null">
            and t1.name=#{name}
        </if>
    </select>

    <insert id="createSysModule" parameterType="com.huifa.paper.parent.cnki.entity.admin.SysModule" useGeneratedKeys="true" keyProperty="id">
        insert into systemModule(moduleName,status,deleteStatus)
        values (#{moduleName},#{status},#{deleteStatus})
    </insert>

    <update id="updateSysModule" parameterType="Map">
        update systemModule
        <set>
            <if test="userName!=null">
                name=#{name},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="logicDelSysModuleById" parameterType="Long">
        update systemModule set deleteStatus = 0 where id=#{id}
    </update>

    <delete id="deleteSysModuleById" parameterType="Long">
        delete from systemModule where id = #{id}
    </delete>
</mapper>