<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huifa.paper.parent.cnki.dao.admin.ISysUserDao">
    <resultMap id="BaseResultMap" type="com.huifa.paper.parent.cnki.vo.admin.SysUserVo">
        <id column="id" property="id" jdbcType="BIGINT" javaType="long"/>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="String"/>
        <result column="loginName" property="loginName" jdbcType="VARCHAR" javaType="String"/>
        <result column="password" property="password" jdbcType="VARCHAR" javaType="String"/>
        <result column="roleId" property="roleId" jdbcType="BIGINT" javaType="long"/>
        <result column="status" property="status" jdbcType="INTEGER" javaType="Integer"/>
        <result column="phone" property="phone" jdbcType="VARCHAR" javaType="String"/>
        <result column="userType" property="userType" jdbcType="VARCHAR" javaType="String"/>
        <result column="roleName" property="roleName" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>

    <sql id="Base_Column_List">
       t1.id,t1.name,t1.loginName,t1.password,t1.phone,t1.userType,t1.roleId,t1.status
    </sql>

    <select id="getById" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from systemUser t1 where t1.deleteStatus != 0 and t1.id=#{id}
    </select>

    <select id="getSysUserByMap" parameterType="Map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>,t2.name as roleName
        from systemUser t1
        left join systemRole t2 on t1.roleId=t2.id
        where t1.deleteStatus != 0
        <if test="id!=null">
            and t1.id=#{id}
        </if>
        <if test="name!=null">
            and t1.`name`=#{name}
        </if>
        <if test="loginName!=null">
            and t1.loginName=#{loginName}
        </if>
        <if test="userType!=null">
            and t1.userType=#{userType}
        </if>
        <if test="phone!=null">
            and t1.phone like concat(#{phone},'%')
        </if>
        <if test="roleId!=null">
            and t1.roleId =#{roleId}
        </if>
        <if test="status!=null">
            and t1.status =#{status}
        </if>
    </select>

    <select id="getSysUserCountByMap" parameterType="Map" resultType="INTEGER">
        SELECT count(1) totalNum  from systemUser t1 where t1.deleteStatus != 0
        <if test="id!=null">
            and t1.id=#{id}
        </if>
        <if test="name!=null">
            and t1.`name`=#{name}
        </if>
        <if test="loginName!=null">
            and t1.loginName=#{loginName}
        </if>
        <if test="userType!=null">
            and t1.userType=#{userType}
        </if>
        <if test="phone!=null">
            and t1.phone like concat(#{phone},'%')
        </if>
        <if test="roleId!=null">
            and t1.roleId =#{roleId}
        </if>
        <if test="status!=null">
            and t1.status =#{status}
        </if>
    </select>

    <insert id="createSysUser" parameterType="com.huifa.paper.parent.cnki.entity.admin.SysUser" useGeneratedKeys="true" keyProperty="id">
        insert into systemUser(`name`,loginName,password,roleId,phone,userType,status,deleteStatus)
        values (#{name},#{loginName},#{password},#{roleId},#{phone},#{userType},#{status},#{deleteStatus})
    </insert>

    <update id="updateSysUser" parameterType="Map">
        update systemUser
        <set>
            <if test="userName!=null">
                `name`=#{name},
            </if>
            <if test="loginName!=null">
                loginName=#{loginName},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="userType!=null">
                userType=#{userType},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="roleId!=null">
                roleId=#{roleId},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="logicDelSysUserById" parameterType="Long">
        update systemUser set deleteStatus = 0 where id=#{id}
    </update>

    <delete id="deleteSysTopicById" parameterType="Long">
        delete from systemUser where id = #{id}
    </delete>
</mapper>